p {
    font-size: 18pt;
    text-align: justify;
}
#footer-p, #contact {
    text-align: center;
}
h1 {
    font-size: 25pt;
}
h2 {
    font-size: 22pt;
    margin-bottom: 20px;
} 
.aboutGB {
    width: 75%;
    margin: 25px auto;
    text-align: center;
}
.aboutGB h1{
    margin-bottom: 15px;
}
/*the container for each section*/
.aboutACE, .vision, .mission {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}
/*the container for the text of each section*/
.ace-txt, .vision-txt, .mission-txt {
    width: 35%;
    margin: 20px auto;
    text-align: center;
}
/*the container for the image of each section*/
.ace-img, .vision-img, .mission-img {
    width: 40%;
    margin: 20px auto;
    display: inline-block;
}
/*the size of each of the images*/
.ace-img img, .vision-img img, .mission-img img {
    width: 100%;
    min-width: 200px;
}
/*adjusts the size of each container for it to respond to the specified resolution*/
@media screen and (max-width: 1024px) {
    .aboutGB, .aboutACE, .vision, .mission, .ace-txt, .vision-txt, .mission-txt, .ace-img, .vision-img, .mission-img {
        width: 100%;
        display: block;
        align-items: initial;
    }
    .ace-img img, .vision-img img, .mission-img img {
        height: auto;
    }
    p {
        text-align: center;
    }
}
