.slides1, .slides2, .slides3 {
    display: none;
}
.slides1 img, .slides2 img, .slides3 img {
    width: 100%;
    height: 400px;
}
.slideshow-container {
    position: relative;
    width: 100%;
    margin: 30px auto;
}
/*this is the fade-in effect for all the slideshows*/
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}
@keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}
p {
    font-size: 18pt;
    text-align: justify;
}
#footer-p, #contact {
    text-align: center;
}
h1 {
    font-size: 25pt;
    margin-bottom: 20px;
}
.music-elective, .sports-elective, .ict-elective {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}
.music-txt, .sports-txt, .ict-txt {
    width: 35%;
    margin: 20px auto;
    text-align: center;
}
.music-img, .sports-img, .ict-img {
    width: 40%;
    margin: 20px auto;
    display: inline-block;
}
.music-img img, .sports-img img, .ict-img img {
    width: 100%;
    min-width: 200px;
}
/*this adjusts and resets the values of the containers for responsiveness*/
@media screen and (max-width: 1024px) {
    .music-elective, .sports-elective, .ict-elective, .music-txt, .sports-txt, .ict-txt, .music-img, .sports-img, .ict-img {
        width: 100%;
        display: block;
        align-items: initial;
    }
    .slides img {
        height: auto;
    }
    p {
        text-align: center;
    }
}

    