/*this css file is the template css of the website*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    min-height: 100vh;
    background: linear-gradient(to right top, #5abaeaa8, #c1c8e4, #3b8aeb8e, #e7e3d4);
    font-family: Arial, Helvetica, sans-serif;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header {
    width: 75%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    background: url(images/Ambuklao.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.glass {
    background: white;
    min-height: 80vh;
    width: 75%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.404));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.205);
    border-radius: 2%;
}
.logo {
    width: 50%;
    margin-right: 0;
    padding: 20px;
    float: left;
}
.logo img{
    min-width: 150px;
    width: 150px;
    border-radius: 100%;
}
.nav {
    float: right;
    width: 100%;
    text-align: right;
}
.nav nav {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 17pt;
    font-weight: bold;
}
.nav nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    background-color: rgba(240, 255, 255, 0.39);
    color: black;
}
.nav nav a:hover {
    background-color: aliceblue;
    color: black;
}
.nav nav input {
    right: 0;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}
/*Home Page CSS*/
.slides {
    display: none;
}
.slides img {
    vertical-align: middle;
    width: 100%;
    height: 720px;
    border-radius: 3%;
}
.slideshow-container {
    position: relative;
    width: 95%;
    margin: 30px auto;
}
/*this is the previous/next buttons*/
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.caption {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 8px 12px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
/*the slideshow fade-in effect*/
@-webkit-keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}
@keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}
.news-activities, .programs, .char-of-the-week {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}
.news-activities-txt, .programs-txt, .cotw-txt {
    width: 35%;
    margin: 20px auto;
    text-align: center;
}
.news-activities-img, .programs-img, .cotw-img {
    width: 35%;
    margin: 20px auto;
    display: inline-block;
}
.news-activities-img img, .programs-img img, .cotw-img img {
    width: 100%;
    min-width: 200px;
}
/*About CSS*/
.aboutGB {
    width: 75%;
    margin: 25px auto;
    text-align: center;
}
.aboutGB h1{
    margin-bottom: 15px;
}
.aboutACE, .vision, .mission {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}
.ace-txt, .vision-txt, .mission-txt {
    width: 35%;
    margin: 20px auto;
    text-align: center;
}
.ace-img, .vision-img, .mission-img {
    width: 40%;
    margin: 20px auto;
    display: inline-block;
}
.ace-img img, .vision-img img, .mission-img img {
    width: 100%;
    min-width: 200px;
}
p {
    font-size: 18pt;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}
#footer-p {
    text-align: center;
}
h1 {
    font-size: 25pt;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
h2 {
    font-size: 23pt;
    margin-bottom: 20px;
}
/*News & Activities CSS*/
.slides1, .slides2, .slides3 {
    display: none;
}
.slides1 img, .slides2 img, .slides3 img {
    width: 100%;
    height: 400px;
}
.slideshow-acti-container {
    position: relative;
    width: 100%;
    margin: 30px auto;
}
h3 {
    font-size: 22pt;
    margin-bottom: 20px;
}
.nsc, .sports-festival, .academic-festival {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}
.nsc-txt, .sports-txt, .acad-txt {
    width: 35%;
    margin: 20px auto;
    text-align: center;
}
.nsc-img, .sports-img, .acad-img {
    width: 40%;
    margin: 20px auto;
    display: inline-block;
}
/*Programs CSS*/
.music-elective, .sports-elective, .ict-elective {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}
.music-txt, .sports-elec-txt, .ict-txt {
    width: 35%;
    margin: 20px auto;
    text-align: center;
}
.music-img, .sports-elec-img, .ict-img {
    width: 40%;
    margin: 20px auto;
    display: inline-block;
}
/*Gallery CSS*/
.photos {
    width: 100%;
    margin: 10px auto;
}
.photos-container {
    display: flex;
    width: 90%;
    margin: 15px auto;
    justify-content: center;
}
.photos-container img {
    width: 100%;
    min-width: 200px;
    height: 400px;
    position: inherit;
    margin: 10px;
}
.photos-container img:hover{
    cursor: zoom-in;
}
.gallBG {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.4);
    padding-top: 60px;
}
.animation {
    animation: animatezoom 0.6s;
}
/*this is the gallery animation effect*/
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0);}
    to {-webkit-transform: scale(1);}
}
@keyframes animatezoom {
    from {transform:  scale(0);}
    to {transform: scale(1);}
}
.imgcontainer img {
    width: 100%;
    height: 1280px;
    margin: auto;
}
.imgcontainer p {
    text-align: center;
    margin: 15px 10%;
}
.content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 70%;
}
.content img:hover {
    cursor: default;
}
/*Contact CSS*/
.contact-section {
    margin: 20px 30px;
}
.contact-sheet {
    text-align: center;
}
.contact-sheet label{
    display: block;
    font-size: 22pt;
}
#submit-button {
    width: 60px;
    min-width: none;
    padding: 10px;
}
.contact-sheet input {
    width: 410px;
    padding: 12px 20px;
    margin: 8px auto 8px auto;
    display: inline-block;
}
.contact-sheet textarea {
    width: 50%;
    height: 500px;
}
/*Footer CSS*/
#footer {
    display: flex;
    justify-content: center;
    background-color: #2c71b3b9;
    height: 360px;
}

#footer div {
    float: left;
    width: 35%;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    font-size: 15pt;
}

#footer div a {
    font-size: 15pt;
    color: white;
    padding: 10px;
}
#connect {
    margin-top: 30px;
    text-align: center;
}
hr {
    width: 75%;
    height: 5px;
    color: dodgerblue;
    background-color: dodgerblue;
    margin: 30px auto;
}
.menu-button {
    display: none;
    overflow: hidden;
    background-color: #333;
}
.socialMedia {
    width: 50px;
    height: 50px;
}
@media screen and (max-width: 1024px) {
    .news-activities, .programs, .char-of-the-week, .news-activities-img, 
    .programs-img, .cotw-img, .news-activities-txt, .programs-txt, .cotw-txt,
    .aboutGB, .aboutACE, .vision, .mission, .ace-txt, .vision-txt, .mission-txt, 
    .ace-img, .vision-img, .mission-img, .nsc, .sports-festival, .academic-festival,
    .nsc-txt, .sports-txt, .acad-txt, .nsc-img, .sports-img, .acad-img,
    .music-elective, .sports-elective, .ict-elective, .music-txt, .sports-elec-txt, .ict-txt,
    .music-img, .sports-elec-img, .ict-img {
        width: 100%;
        display: block;
        align-items: initial;
    }
    .photos-container {
        width: 90%;
        display: block;
        text-align: center;
    }
    .photos-container img {
        width: 45%;
        margin: 10px auto;
    }
    .content img {
        width: 100%;
    }
    .caption, #caption-h1, #caption-h1-2 {
        display: block;
    }
    .slideshow-container {
        width: 100%;
    }
    .slides img, .ace-img img, .vision-img img, .mission-img img {
        height: auto;
    }
    #footer, #footer div {
        width: 100%;
        display: block;
        float: none;
        margin: auto;
        height: auto;
        overflow: hidden;
    }
    .header, .glass {
        width: 100%;
        border-radius: 0%;
    }
    p {
        text-align: center;
    }
    #footer-h4, #footer-p {
        margin: 10px auto;
    }
    .menu-button {
        display: block;
        width: 50%;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.4);
        color: black;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 18px;
        font-size: 20pt;
        overflow: unset;
    }
    .header, .logo {
        width: 100%;
        display: block;
    }
    .topnav :not(:first-child) {display: none;}
    .topnav.responsive {position: relative;}
    .topnav.responsive .menu-button {
        display: block;
        bottom: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        bottom: 0;
        text-align: center;
    }
    .contact-sheet input, .contact-sheet textarea {
        width: 75%;
    }
}
@media screen and (max-width: 784px){
    .photos-container img {
        width: 100%;
    }
}
